
button{
padding-bottom:30px;
padding-top:30px;
padding-left:30px;
padding-right:30px;
}


.main {
  display: grid;
  margin: 100px;  
  font-size: 30px;
  width: 19%;
  
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "td00 td01 td02" "td03 td04 td05" "td06 td07 td08";
  grid-area: main;
}

.td00 { width: 65px; height:65px ;border-style:solid; grid-area: td00; }

.td01 { width: 65px;height:65px ;border-style:solid; grid-area: td01; }

.td02 { width: 65px;height:65px ;border-style:solid; grid-area: td02; }

.td03 { width: 65px;height:65px ;border-style:solid; grid-area: td03; }

.td04 { width: 65px;height:65px ;border-style:solid; grid-area: td04; }

.td05 { width: 65px;height:65px ;border-style:solid; grid-area: td05; }

.td06 { width: 65px;height:65px ;border-style:solid; grid-area: td06; }

.td07 { width: 65px;height:65px ;border-style:solid; grid-area: td07; }

.td08 { width: 65px;height:65px ;border-style:solid; grid-area: td08; }