<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style >
		li{
			color: green;
			border:1px solid black;
		}
	</style>
</head>
<body>

	<ol>
		<% body.forEach(function(items){ %>
		<% if (items.email) { %>
		<li> Email : <%= items.email    %> <br> Pass : <%= items.pass  %> </li>
		     
		
		<br>
	   <% } }) %>
	</ol>

</body>
</html>