<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		h3{
			color: red;
		}
	</style>
</head>
<body>
<h1>Congratulations, you are registered in the Facebook </h1>
<h3>
	Your Email : <%= body.email %>
</h3>
<h3>
	Your Pass : <%= body.pass %>
</h3>


</body>
</html>