<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		h3{
			color: red;
		}
	</style>
</head>
<body>

<h3>
	Your name : <%= body.name %>
</h3>
<h3>
	Your pass : <%= body.pass %>
</h3>


</body>
</html>