input{
margin-left: 50px;
border: 1px solid red;
height: 20px;
border-radius: 6px;
background-color: #ededed; 
}
form{
margin: 20px 200px 20px  200px;
background-color: #e0e0e0;
font-size: 18px;
}
fieldset{
border: 1px solid red;
color: #700424;
}

h2{
color: #700424;
margin-left:220px;
}

body{
background-color: #e8e8e8;
}
.submit{
margin-left: 190px;
width: 80px;
}
