.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.app {
  max-width: 1000px;
  margin: 50px auto;
}

.list {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: box-shadow .3s ease-in-out;
}

.card:hover {
  box-shadow: 2px 2px 0 rgba(0, 0, 0, .15);
}

.card.marked {
  border: 2px solid crimson;
}

.card-img {
  display: flex;
  align-items: center;
  height: 150px;
}

.card img {
  width: 100%;
}

.drag{
  margin-left: 200px;
  margin-right: 200px;
  padding-bottom: 25px;
  border:solid;
}