.like{
	width:50px;
	height:25px;
	margin-left:15px
}
.bigheader{
	margin-left:400px;
	width:300px;
	height:30px;
	text-align:right;
	color:red;
}

.inpt{
	padding-bottom:10px;
	height:22px;
}

	

a:hover{
background-color: red;	
}

.div2{
     background-color: #cccccc;
 
     height:70px;
    
}

span{
   text-align: center;
   color:wight;
   margin:5px
  
}

.div3{
   background-color:wight;
   height:70px;
 
    }

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color:#cccccc ;
}

.flex-container > div {
  background-color: #cccccc;
  width: 500px;
  margin: 10px;
  text-align: center;
  line-height: 150px;
  font-size: 30px;

